<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/uvmlogo.png" type="image/png" />
    <title>Información</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Información</a></li>
          <li><a href="/contacto">Dejar un Comentario...</a></li>
          <li><a href="/comentarios">Ver Comentarios</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>¿De qué trata el proyecto?</h1>
      <p class="parrafo">
        Este proyecto trata de realizar una página web con un diseño agradable y
        eficaz, donde el objetivo principal es tener tanto un Front End como un
        Back End. En este proyecto, se ha agregado una funcionalidad de dejar
        comentarios a través de un formulario; y dichos formularios son
        guardados en una base de datos para su registro.
      </p>
      <div class="gifs">
        <img src="/images/nodejs.gif" alt="Node.js" />
        <img src="/images/css.gif" alt="CSS" />
        <img src="/images/html.gif" alt="HTML" />
      </div>
      <p class="parrafo">
        Se ha utilizado JavaScript (a través de Node.js), HTML y CSS para
        desarrollar el proyecto. Además, la Base de Datos seleccionada fue la
        tan confiable SQL, a través de MySQL.
      </p>
      <div class="gifs"><img src="/images/mysql.gif" alt="MySQL"</div>
    </main>
    <footer>
      <p>&copy; 2024B - FRONTEND - UVM</p>
    </footer>
  </body>
</html>
