<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/uvmlogo.png" type="image/png" />
    <title>Dejar Comentario</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Información</a></li>
          <li><a href="/contacto">Dejar un Comentario...</a></li>
          <li><a href="/comentarios">Ver Comentarios</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>¡Deja un comentario!</h1>
      <form action="/contacto" method="POST" class="form-contact">
        <div class="formulario">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required />
        </div>
        <div class="formulario">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="formulario">
          <label for="asunto">Asunto:</label>
          <input type="text" id="asunto" name="asunto" required />
        </div>
        <div class="formulario">
          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" required></textarea>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </main>
    <footer>
      <p>&copy; 2024B - FRONTEND - UVM</p>
    </footer>
  </body>
</html>
