<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/uvmlogo.png" type="image/png" />
    <title>Página de Inicio</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Información</a></li>
          <li><a href="/contacto">Dejar un Comentario...</a></li>
          <li><a href="/comentarios">Ver Comentarios</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <img src="/images/uvmlogo.png" class="UVMLogo" alt="UVMLogo" />
      <h1>¡Bienvenid@ al Proyecto e-actividad 3.1!</h1>
      <p>
        Este es un sitio web de ejemplo utilizando Node.js, Express, MySQL, HTML
        y CSS.
      </p>
      <p>
        ¡Utiliza el panel de navegación que se encuentra al tope de la página!
      </p>
      <p>
        <a
          href="https://github.com/Luixls/FRONTEND-ea3.1-proyecto"
          target="_blank"
          >También puedes visitar el repositorio del proyecto en GitHub</a
        >
      </p>
    </main>
    <footer>
      <p>&copy; 2024B - FRONTEND - UVM</p>
    </footer>
  </body>
</html>
